/*
#CC0001 
#AF0000 
#003A6D 
#07264e 
#061735 
*/

/* nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AF0000;
}

#logo {
    color: white;
    margin-left: 2rem;  
    font-size: 2rem;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation span {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 3rem;
}

#toggle-color {
    position: relative;
    background-color: #fff;
    width: 3rem;
    height: 1.5rem;
    margin-right: 2rem;
    border-radius: 1rem;
    border: 2px solid black;
}

#toggle-color-on {
    position: absolute;
    background-color: #CC0001;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    transition: .5s;
    
}

#toggle-color-off {
    position: absolute;
    background-color: #CC0001;
    width: 1.5rem;
    height: 1.5rem;
    left: 1.5rem;
    border-radius: 50%;
    transition: .5s;
} */
